.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    width: 100%; 
}

 
 body {
        color: aliceblue;
            font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
    }
    h5{
        color: #ffbd07;
    }
    .container {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .text {
        padding: 0 20px;
    }
    .image {

        text-align: center;
    }
    .card-item {
        flex: 1;
        max-width: calc(33.33% - 20px); 
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        text-align: center;
    }
    .card-item img {
        max-width: 10%;
        height: auto;
        margin-bottom: 10px;
    }
    .section{
        flex: 1;
        padding: 0 20px;
        text-align: center;
    }

    #section{
        height: 100vh;
    }
#section1{
    height: 100vh;
}
#section2{
    height: 100vh;
}

.nav-link{
    color: #ccc;
}

.navbar-brand{
    color:#ffbd07;
}
.nav-link:hover{
    color:#ffbd07;
}


.reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
