
{% load static %}
<div class="main" style="background-image: url('{% static "bg.jpg" %}'); 
background-size: 100% 100%; 
background-attachment: fixed; 
background-repeat: no-repeat;">



<!-- about me -->>
  <div class="container" id="section1">
    <div class="text">
        <h3><strong>Mohammad John Khenidy A. Bari</strong></h3>
        <p>Zamboanga City, Philippines</p>
        <p>barijohnkhenidy@gmail.com</p>
        <p> +639-9770-00003</p>
    </div>
    <div class="image">
        <img src="{% static 'port.png' %}"  class="img-fluid" style="max-width: 98vh; height: 98vh;">
    </div>
    <div class="text">
        <h3><strong>UI/UX Designer, Project Manager</strong></h3>
        <p>put this something chuchu in here kaya mamaya nayan kase about me tong yawa na to</p>
    </div>
</div>






