{% load static %}
<div class="main" style="background-image: url('{% static "bg.jpg" %}'); 
background-size: 100% 100%; 
background-attachment: fixed; 
background-repeat: no-repeat;">


    <div class="container">
        <div class="section" id="section2">
    <h2>Project Description</h2>
    <p>This is where you describe your project in detail. You can include information about its purpose, features, technologies used, etc.</p>
</div>
</div>
<div class="container">
    <div class="card-item">
        <img src="image1.jpg" alt="Image 1">
        <p>Description or caption for Image 1</p>
    </div>
    <div class="card-item">
        <img src="image2.jpg" alt="Image 2">
        <p>Description or caption for Image 2</p>
    </div>
    <div class="card-item">
        <img src="image3.jpg" alt="Image 3">
        <p>Description or caption for Image 3</p>
    </div>
    <div class="card-item">
        <img src="image4.jpg" alt="Image 1">
        <p>Description or caption for Image 4</p>
    </div>
    <div class="card-item">
        <img src="image5.jpg" alt="Image 2">
        <p>Description or caption for Image 5</p>
    </div>
    <div class="card-item">
        <img src="image6.jpg" alt="Image 3">
        <p>Description or caption for Image 6</p>
    </div>
</div>
</div>
